.header_history {
    height: 100vh;
    background-image: url(../img/fonhistory.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin-bottom: 80px;
}

.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_block_header {
    margin: 0px 70px;
    z-index: 100;
    cursor: pointer;
}

.img_block_header img {
    margin: 10px
}

.menu_block_header {
    margin: 0px 110px;
    z-index: 100;
}

.menu_block_header ul li {
    z-index: 100;
    display: inline;
    margin: 0px 35px;
}

.menu_block_header ul li a {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 100;
    cursor: pointer;
    opacity: .3;
    transition: .2s ease-in-out;
    border-bottom: 0px solid #D95A53;
}

.menu_block_header ul li a:hover {
    color: #D95A53;
    opacity: 1;
    border-bottom: 2px solid #D95A53;
}

.background_header_menu {
    position: absolute;
    margin: 0px;
    height: 80px;
    width: 100%;
    background-image: url(../img/bg.png);
}

.block_1 {
    vertical-align: middle;
    background-image: url(../img/fonnnn.png);
    background-repeat: no-repeat;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-top: 76px;    
}

.block_1 h2 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #075570;
}

.block_1 pre {
    letter-spacing: 1px;
    font-family: 'Avenir LT Std', sans-serif;
    color: #075570;
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 28px;
    font-weight: 100;
}

.lastPre {
    padding-bottom: 166px;
}

.block_2 {
    padding-left: 150px;
    display: flex;
    align-items: center;
}

.block_2 h2 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 47px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #075570;
}

.block_2 pre {
    letter-spacing: 1px;
    font-family: 'Avenir LT Std', sans-serif;
    color: #075570;
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 28px;
    font-weight: 100;
}

.img_block {
    margin-left: 170px;
}

.footer {
    background-color: #083742;
    height: 300px;
}

.footer h2 {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding-top: 65px;
    padding-bottom: 34px;
    letter-spacing: 5px;
    color: #B3B3B3;
}

.contact_blocks {
    margin-left: 222px;
}

.contacts_block {
    margin: 10px 0px;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Shree Devanagari 714', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.footer {
    margin-top: 75px;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}
